.App{
  text-align: center; 
}

.rightSideDiv{
  flex: 1;
  border: 1px solid red;
  display : none; 
}

/* specific to the video grid: right display none, left flex  */

.leftSideDiv{
  flex: 2;
  border: 1px solid red;
}


/* think about mobile */ 
@media ( min-width: 760px ){
}